<%= form_tag '/blogs/create' do %>
    <div>
    제목: <input type="text" name='title'>
    </div>
    
    <div>
    내용: <textarea clos =40 rows=20 name='content'></textarea>
    </div>
    
    <div>
    <input type="submit" value="Click!">
    </div>
    <% end %>